/* Celular Retrato */
@media (max-width:600px) and (orientation: portrait) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .week-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Colunas dinâmicas */
        gap: 10px; /* Espaçamento entre os itens */
        justify-content: center; /* Centraliza os itens */
        align-items: center; /* Alinha verticalmente */
        list-style: none;
        padding: 0;
        text-align: center; /* Centraliza o texto */
      }
}

/* Tablet Retrato */
@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {

}

/* Tablet Paisagem */
@media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {

}